.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие */
  max-width: 190px;
}
