.popup__input-error {
  font-size: 12px;
  line-height: 14.52px;
  color: #FF0000;
  opacity: 0;
  padding-top: 5px;
  position: absolute;
  top: calc(90% + 5px);
  left: 0;
  transition: opacity 0.3s;
}
