.add-button {
  background: url(../../images/add-button.svg) center no-repeat;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 150px;
  min-height: 50px;
  justify-self: flex-end;
  transition: .3s linear;
}

.add-button:hover {
  opacity: .6;
}

@media (min-width: 320px) and (max-width: 425px) {
  .add-button {
    min-width: 282px;
    margin-top: 36px;
  }
}
