.popup__button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 48px;
  max-width: 100%;
  min-height: 50px;
  border: none;
  background: #000000;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s linear;
}

.popup__button:hover {
  opacity: .8;
}

@media (min-width: 320px) and (max-width: 425px) {
  .popup__button {
    margin-top: 45px;
  }
}
