.popup__container_type_image {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: 0;
  background: none;
  min-width: auto;
}
