.profile__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
}

@media (min-width: 426px) and (max-width: 1023px) {
  .profile__name {
    font-size: 30px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}
