.popup__close-button {
  display: block;
  background: url(../../../images/close-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
  transition: .3s linear;
}

.popup__close-button:hover {
  opacity: .6;
}

@media (min-width: 320px) and (max-width: 425px) {
  .popup__close-button {
    right: 0;
    top: -50px;
  }
}
