.popup__close-button {
  display: block;
  background: url(../../../images/close-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  top: -35px;
  right: -35px;
}

.popup__close-button:hover {
  opacity: .6;
}

@media (min-width: 320px) and (max-width: 425px) {
  .popup__close-button {
    right: 0;
    top: -50px
  }
}
