.place__like {
  background: url(../../../images/like.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 19px;
  width: 22px;
  right: 10px;
  opacity: 0.5;
  transition: 0.3s;
  border: none;
  /* margin-right: 20px; */
}

.place__like:hover {
  transform: scale(1.3);
}
