.popup__container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  min-width: 430px;
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 425px) {
  .popup__container {
    min-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
