@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
/* page */
@import url(../blocks/page/page.css);
/* header */
@import url(../blocks/header/header.css);
/* logo */
@import url(../blocks/logo/logo.css);
/* content */
@import url(../blocks/content/content.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/edit-button/edit-button.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/add-button/add-button.css);
@import url(../blocks/profile/__text-wrapper/profile__text-wrapper.css);
@import url(../blocks/profile/__name-wrapper/profile__name-wrapper.css);
/* elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__desription/element__desription.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__profile-info/form__profile-info.css);
@import url(../blocks/popup/__input/form__input.css);

@import url(../blocks/popup/__input/_name/popup__input_name.css);
@import url(../blocks/popup/__input/_job/popup__input_job.css);

@import url(../blocks/popup/__button/popup__button.css);
