.popup__description {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  position: absolute;
  bottom: -20px;
  left: 0;
}
