.footer {
  min-width: 320px;
  max-width: 880px;
  width: 100%;
  margin: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

@media (min-width: 300px) and (max-width: 425px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
