.profile__name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile__name-wrapper {
    margin-top: 26px;
  }
}
