.popup__input {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  width: 100%;
}

.popup__input:last-of-type {
  margin-top: 30px;
}
